*{
  list-style: none;
  text-decoration: none;
  /* margin: 10px; */
  scroll-behavior: smooth;
  /* margin: 0; */
}
.nav {
  background-image: url(./img/banner-design-geometric-hexagon-colorful-overlapping-with-background-free-vector.jpg);
  position: sticky;
  top: 0;
  /* padding-top: 5%; */
}
.nav1 {
  display: flex;
  justify-content: space-around;
  /* height: 5%; */
 
}
.logo-div{
  width:8%;
  /* height: 5%; */
}
.logo {
  width:100%;
}

.nav6{
  padding-top: 2%;
  width: 60%;
}
.nav6 a {
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-style: unset;
  font-size: x-large;
  letter-spacing:2%;
  align-items: center;
  /* padding:14px 16px; */
  text-align: center;
  /* margin-top: 10%; */
  margin-top: 5%;
  padding-right: 1%;
  padding-left: 1%;
}
.nav6 a:hover {
  background-color: white;
}
.name2 {
  justify-content: space-between;
  background-image: url(./img/banner-design-geometric-hexagon-colorful-overlapping-with-background-free-vector.jpg);
  /* padding-top: 5%; */
}
.name{
  display: flex;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;
  font-style: unset;
  font-size: x-large;
  letter-spacing: 50%;
  align-items: center;
  padding: 0;
  text-align: center;
  margin: 5%;
}
.mm {
  font-family: 'Courgette', cursive;
font-family: 'Poppins', sans-serif;
margin: 18%;
}
.img {
  /* justify-content: space-between; */
  padding: 0;
}
.button2 {
  background-color: blue;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 100%;
  margin:  15% 18% ;
  cursor: pointer;
  /* background-color: white;  */
  color: black; 
  border: 80% solid #008CBA;
}
.button2:hover {
  background-color: darkblue;
  color: white;
}
h1 {
  color: blue;
}
.link {padding: 0;
color: aliceblue;
font-family: 'Times New Roman', Times, serif;
font-style: unset;
font-size: x-large;}
/* .one {
  display: flex;
  justify-content: space-around;
} */
.Skills {
  justify-content: space-between;
  background-image: url(./img/banner-design-geometric-hexagon-colorful-overlapping-with-background-free-vector.jpg);
  padding-top: 0;
  text-align: center;
  color: black;
  font-size: x-large;
}
.img7 {
  display: flex;
  justify-content: space-around;
  font-size: 90px;
  /* width: 100%;
  height: 100%; */
}
.pref {
  display: flex;
  justify-content: space-around;
}
.two {
  display: flex;
  justify-content: space-around;
}
.EDUCATION {
  justify-content: space-between;
  background-image: url(./img/banner-design-geometric-hexagon-colorful-overlapping-with-background-free-vector.jpg);
  padding-top: 0;
  text-align: center;
  color: black;
  font-size: x-large;
} 
.three{
  display: flex;
  justify-content: space-around; 
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  /* border-radius: 5px; */
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container {
  padding: 2px 16px;
}

.card1 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  /* border-radius: 5px; */
}

.card1:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container1 {
  padding: 2px 16px;
}
.card2 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  /* border-radius: 5px; */
}

.card2:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container2 {
  padding: 2px 16px;
}
.EXPERINCE {
  justify-content: space-between;
  background-image: url(./img/banner-design-geometric-hexagon-colorful-overlapping-with-background-free-vector.jpg);
  /* padding-top: 0x; */
  text-align: center;
  color: black;
  text-align: center;
  /* color: black; */
  font-size: x-large;
}
.card3 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  /* border-radius: 5px; */
}

.card3:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container3 {
  padding: 2px 16px;
}
.card4 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  /* border-radius: 5px; */
}

.card4:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container4 {
  padding: 2px 16px;
}
.card5 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  /* border-radius: 5px; */
}

.card5:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container5 {
  padding: 2px 16px;
}
.card6 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  /* border-radius: 5px; */
}

.card6:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container6 {
  padding: 2px 16px;
}
.FOUR {
  display: flex;
  justify-content: space-around;
}
.PROJECT{
  justify-content: space-between;
  background-image: url(./img/banner-design-geometric-hexagon-colorful-overlapping-with-background-free-vector.jpg);
  /* padding-top: 0; */
  text-align: center;
  color: black;
  font-size: x-large;
}
.fiv {
  display: flex;
  justify-content: space-around;
}
.Contact {
  display: flex;
  justify-content: space-around;
  background-image: url(./img/banner-design-geometric-hexagon-colorful-overlapping-with-background-free-vector.jpg);
  /* padding-top: 0; */
  text-align: center;
  color: black;
  font-size: x-large;
}
/* .fa-brands {
  font-size: x-large;
} */
.email {
  font-size: x-large;
  text-align: center;
  border: black;
}
.my1 {
  font-size: small;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
/* // Example
// Apply styles starting from medium devices and up to extra large devices
@media (min-width: 768px) and (max-width: 1199.98px) { ... } */